/* Estilos do header */
.header-container {
    padding: 5px 40px;
    background-color: #FFF8B7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #FFDA48;

}

.header-container img {
    width: 130px;
    height: 70px;
}

.header-a,
.header-login {
    gap: 60px;
    display: flex;
    align-items: center;
}

.header-a a {
    color: #9D7D00;
    font-size: 15px;
}

.header-a a:hover {
    text-decoration: underline 3px #00BF63;
}

.header-login li a {
    background-color: #FFDA48;
    color: white;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
}

.header-login li:hover {
    cursor: pointer;
    transition: 1s;
    transform: translateX(10px) scale(1.2);
}
@media(max-width:750px) {
    
}
