body {
    background-color: #ffffff
}


.main-container1 {
    padding-left: 50px;
    padding-top: 70px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-image: url(../Recursos/Polly.png);
    border-bottom: 5px dotted #00BF63;
    border-bottom-left-radius: 25%;
    
}
.main-container1 section {
    width: 700px;
    height: 400px;
}
.main-container1 section h1 {
    font-family: Coiny;
    font-size: 60px;
    padding-top: 10px;
    color: white;
    text-shadow: 4px 4px #00BF63;
    
}
.main-container1 section p {
    font-family: Contrail One;
    padding-top: 10px;
    padding-bottom: 50px;
    color: white;
    font-size: 20px;
    text-align: justify;
}
.main-container1 section button {
    font-family: Coiny;
    background-color: #FFDA48;
    color: white;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    font-size: 20px;
    
}
.main-container1 section button:hover {
    cursor: pointer;
    transition: 1s;
    transform: translateX(10px) scale(1.2);

}
.main-container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 40px;
      
}
.main-container2-text {
    width: 900px;
}
.main-container2 h2 {
    font-size: 50px;
    font-family: Coiny;
    color: #FFDA48;
    padding: 20px;
    text-align: center;
    
}
.main-container2 p {
    font-size: 30px;
    font-family: Contrail One;
    color: #9D7D00;
    text-align: justify;

}

.main-container3 {
  margin-top: 60px;
    
}
.main-container3 section h3 {
    text-align: center;
    font-size: 35px;
    font-family: Coiny;
    color: #FFDA48;

}
.main-container3-blocos {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 60px;
    text-align: center;
    background-color: #FFF8B7;
    padding: 20px;
}

.main-container3-blocos div img {
    width: 350px;
    height: 350px;
    border-top-left-radius: 5%;
    border-top-right-radius:5%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius:25%;
}

.main-container3-blocos div p {
    font-size: 30px;
    font-family: Coiny;
    color: white;
    position: absolute;
    top: 1350px;
    background-color: #FFDA48;
    border-radius: 8px;
    padding: 2px 30px;
    text-align: center;
    
}
.main-container3-titulo1 {
    right: 840px;
}
.main-container3-titulo2 {
    right: 455px;
}
.main-container3-blocos div p:hover {
    transition: 1s;
    transform: translateX(3px) scale(1.1);
    cursor: pointer;
}
.main-container4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 60px;
}
.main-container4 h4 {
    font-size: 40px;
    font-family: Coiny;
    color: #FFDA48;

}
.main-container4 .info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #FFF8B7;
    margin: 5px;
    width: 943px;
    border: 2px solid #00BF63 ;
    border-radius: 8px;
    padding: 15px 30px; 
}
.main-container4 p {
    color: #9D7D00;
    font-size: 20px;
    font-family: Contrail One;
 
    text-align: justify;
   
}

