/* Resets */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffffff
}
li {
    list-style-type: none;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 50px;
}
h3 {
    font-size: 40px;
}
h1, h2, h3 {
    font-family: Coiny;
}
a {
    text-decoration: none;
    font-family: Coiny;
}
p {
    font-family: Contrail One;
    
}
select {
    font-family: Coiny;
}
/* Ajustando para largura máxima de 750px para outros dispositivos */
@media(max-width:750px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }
}