/* Setting up index find your pet */
.index-find-your-pet {
    padding: 85px 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--primary6);

}

.index-find-your-pet-list {
    display: flex;
    justify-content: c;
    gap: 20px;
}

.index-find-your-pet-list figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}



@media(max-width: 800px) {
    .index-find-your-pet-list li figure img {
        width: auto;
        height: auto;
    }

}

@media (max-width: 480px) {
    .index-find-your-pet-list {
        flex-wrap: wrap;
    }
}