.sobre-nos {
    padding: 85px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.sobre-nos h2 {
    color: var(--primaria6);
}


.sobre-nos ul {
    display: flex;

    gap: 25px;
}

.sobre-nos ul li {
    background-color: var(--primaria2);
    padding: 20px;

}

.sobre-nos ul li h3 {
    display: flex;
    align-items: center;
    gap: 10px;

}

.sobre-nos ul li p {
    padding: 25px 0px;
}

@media (max-width: 700px) {
    .sobre-nos ul {
        flex-direction: column;
    }
}