/* Setting up the components */
.container {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;

}

.main-button {
    display: block;
    background-color: var(--green);
    color: var(--green2);
    border-radius: 8px;
    padding: 10px 30px;
    font: 600 1.125rem / 1.4 'Roboto', sans-serif;
    transition: all 0.3s;
    text-align: center;
    max-width: max-content;
    cursor: pointer;

}

.main-button:hover {
    transform: scale(1.1);
}

.bg-yellow2 {
    background-color: var(--primary2);
}

.bg-yellow {
    background-color: var(--primary3);
}

.bg-brown {
    background-color: var(--primary6);
}

.borders {
    border-left: 1px solid var(--primary6);
    border-right: 1px solid var(--primary6);
    border-radius: 8px;
}

@media (max-width: 600px) {
    .main-button {
        font-size: 1rem;
        padding: 5px 20px;
    }
}