.container {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;

}

.botao {
    display: block;
    background-color: var(--green);
    border-radius: 8px;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: all 0.3s;
    text-align: center;
    max-width: max-content;
    cursor: pointer;

}

.botao:hover {
    transform: scale(1.1);
}

.bg-yellow {
    background-color: var(--primaria3);
}

.bg-brown {
    background-color: var(--primaria6);
}

.borders {
    border-left: 1px solid var(--primaria6);
    border-right: 1px solid var(--primaria6);
    border-radius: 8px;
}