:root {
    --primaria1: #FDFFF0;
    --primaria2: #FEFFB7;
    --primaria3: #FFEF8B;
    --primaria4: #D9AE3E;
    --primaria5: #AB8112;
    --primaria6: #503C18;

    --green: #00BF63;

    --white: #FAFAFA;
    --black: #1C1C1C;
}