/* Setting up the header */
header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 40px;
    gap: 25px;
}

header a {
    color: var(--primary6);
}

.header-a,
.header-login {
    display: flex;
    align-items: center;
    gap: 25px;

}

.header-a {
    flex-wrap: wrap;
}

.header-a ul {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

}

.link-header {
    display: flex;
    position: relative;
}

.link-header::after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: var(--primary6);
    margin-top: 30px;
    transition: 0.3s;
    position: absolute;
}

.link-header:hover::after {
    width: 100%;
}



.header-login::before {
    content: "";
    height: 37px;
    width: 2px;
    background-color: var(--primary4);
}

@media (max-width: 800px) {
    header div {
        justify-content: center;
    }
}