/* Setting up the header */
.svg-menu-mobile {
    display: none;
}

header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 40px;
    gap: 25px;
}

header a {
    color: var(--primary6);
}

.header-a,
.header-login {
    display: flex;
    align-items: center;
    gap: 25px;

}


.header-a {
    flex-wrap: wrap;
}

.header_nav {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

}

.header-login li:first-child {
    display: flex;
    gap: 25px;
    align-items: center;
}

.link-header {
    display: flex;
    position: relative;
}

.link-header::after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: var(--primary6);
    margin-top: 30px;
    transition: 0.3s;
    position: absolute;
}

.link-header:hover::after {
    width: 100%;
}



.header-login::before {
    content: "";
    height: 37px;
    width: 2px;
    background-color: var(--primary4);
}

@media (max-width: 800px) {
    header div {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    header div {
        flex-direction: column;
    }
    .header-a {
        flex-direction: column;
    }
    .header_nav {
        display: none;
    }
    .header_nav-js {
        display: flex;
        flex-direction: column;
        background-color: var(--primary2);
        padding: 10px;
        border-radius: 8px;
        border: 1px solid var(--primary4);
    }
    .header_nav-js li {
        margin-bottom: 1px solid #e42;
    }
    .svg-menu-mobile {
        display: block;
        cursor: pointer;
    }
    .header-login {
        flex-direction: column;      
    }
    .header-login::before {
        width: 0px;
        height: 0px;
    }
}