/* Setting up the typography */
h1,
h2 {
    font: 900 4rem / 1.1 'Baloo 2', serif;
}

h3 {
    font: 900 1.5rem / 1.5 'Baloo 2', serif;
}


.txt-size1medium {
    font: 500 1.5rem / 1.5 'Roboto', sans-serif;
}

.txt-size1regular {
    font: 400 1.5rem / 1.5 'Roboto', sans-serif;
}

.txt-size2semibold {
    font: 600 1.125rem / 1.4 'Roboto', sans-serif;

}

.txt-size2regular {
    font: 400 1.125rem / 1.4 'Roboto', sans-serif;

}



@media (max-width: 1000px) {

    h1,
    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;

    }


}

@media (max-width: 800px) {
    .txt-size1medium {
        font-size: 1.125rem;
    }

    .txt-size1regular {
        font-size: 1.125rem;
    }

    .txt-size2semibold {
        font-size: 1rem;

    }

    .txt-size2regular {
        font-size: 1rem;

    }
}